.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  box-sizing: border-box;
 min-width: 1280px;
  margin: 0 auto;
  background-color: rgb(92, 92,92); }